@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-bg-color: #1f1f1f;
  --color-sub-color: #2f3642;
  --color-grey-color-01: #454545;
  --color-red-color: #f77f7f;
  --color-green-color: #47ffe8;
  --color-yellow-color: yellow;
  --color-white-color: white;

  --font-04b03: "04b03", monospace;
  --font-roboto-mono: "Roboto Mono", monospace;
}

@layer base {
  @font-face {
    font-family: "04b03";
    src:
      url("./assets/fonts/04b03.woff2") format("woff2"),
      url("./assets/fonts/04b03.woff") format("woff"),
      url("./assets/fonts/04b03_.ttf") format("truetype");
  }

  body {
    @apply font-[family-name:var(--font-04b03)] text-white-color bg-bg-color;
    font-family: "04b03", monospace;
  }

  h1,
  h2,
  h3,
  h4 {
    font-weight: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
