.About {
    // border: 1px solid red;
    // display: flex;
    
    // justify-content: center;
    max-width: 600px;
    margin: auto;
    // text-align: center;

    a {
        width: initial;
    }

}