body {
    background-color: $bg-color;
}

.App {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-areas:
        "nav games"
        "nav footer";
    
    .App-header {
        grid-area: nav;

        display: flex;
        flex-direction: column;

        .App-logo-container {
            margin: 1rem;
            display: flex;
            align-items: center;

            .App-logo {
                width: 4rem; 
            }
            a.back-button {
                font-size: 2rem;
                margin-left: 2rem;
            }
            
        }

        .App-nav {
            ul {
                list-style: none;
                li {
                    margin-left: 4.5rem;
                    margin-top: 1rem;
                    a {
                        font-size: 1.5rem;
                        &:hover {
                            border-bottom: 6px solid $red-color;
                        }
                    }
                }
            }
        }
    }   
}