body {
    background-color: $sub-color;
    margin: 0;
}
.click-container {
    display: grid;
    grid-template-columns: auto 1fr;
    min-height: 100vh;

    .click-highscore {
        margin-left: 20px;
        font-family: $font-04b03;
        font-size: 16px;

        .return-back {
            display: flex;
            align-items: center;

            p {
                margin-left: 10px;
            }
        }
    }

    .game {
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: white solid 1px; */
    }
}

#click-button {
    font-family: '04b03', serif;
    font-size: 5em;
    color: black;
    background-color: white;

    // height: 30vh;
    padding: 50px;
    width: 30vw;
    border: $red-color 10px solid;

    &:hover {
        color: white;
        background: $red-color;
    }

    &:active {
        transform: translateY(4px);
        box-shadow: 0 5px #666;
    }
}

#score {
    font-size: 10em;
    font-family: $font-04b03;
}

/* Submit User Score */
#playerName {
    background-color: #40464c;
    height: auto;
    width: 35vw;
    border: none;
    font-family: '04b03', serif;
    font-size: 5em;
    color: white;
}

#highScoreUpdateButton {
    font-family: '04b03', serif;
    font-size: 2em;
    color: black;
    background-color: white;

    padding: 20px;
    width: 20vw;
    border: $green-color 10px solid;

    &:hover {
        color: white;
        background: $green-color;
    }

    &:active {
        transform: translateY(4px);
        box-shadow: 0 5px #666;
    }
}