.Click-Game {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 10rem;
    background-color: #303030;

    .click-button {
        font-family: $font-04b03;
        font-size: 5em;
        color: black;
        background-color: white;

        padding: 50px;
        width: 30vw;
        border: $red-color 10px solid;

        &:hover {
            color: white;
            background: $red-color;
        }

        &:active {
            transform: translateY(4px);
            box-shadow: 0 5px #666;
        }
    }

    .score {
        font-size: 10em;
    }

    .playerName {
        font-family: $font-04b03;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;

        .caption {
            margin-bottom: 0.5rem;
        }

        .input {
            font-family: $font-04b03;
            background-color: #40464c;
            height: auto;
            width: 500px;
            border: none;
            font-size: 5em;
            color: white;
            padding: 1rem;
            text-align: center;
        }
    }

    .score-submit {
        font-family: $font-04b03;
        font-size: 2em;
        color: black;
        background-color: white;

        padding: 20px;
        width: 20vw;
        border: $green-color 10px solid;

        &:hover {
            color: white;
            background: $green-color;
        }

        &:active {
            transform: translateY(4px);
            box-shadow: 0 5px #666;
        }
    }
}