.game-container {
    margin: 1rem;
    .game {
        display: flex;
        flex-direction: column;
        align-items: center;

        .game-thumbnail {
            width: 300px;
        }
    }
}