.HighScore {
    margin-top: 2rem;
    padding: 1rem;

    .main-title {
        text-align: center;
    }

    .Score-Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .Score {
            background-color: $grey-color-01;
            padding: 1.5rem;
            margin: 1rem;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            
            ul {
                list-style: none;
                padding-left: 1rem;
            }
        }
    }
}